{% extends 'base_page.html' %}
{% load static %}
{% load ratings %}

{% block title %}<title>Artists List</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link rel="stylesheet" href="{% static 'artist_list_style.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for artist in artists %}

                <div class="col-md-3">
                    <div class="panel block-profile">
                        <a href="{% url 'artist' artist.pk %}">
                            <div style="background-image: url('https://bootstraptema.ru/images/bg/bg-3.png')"
                                 class="panel-body text-center bg-center">
                                <div class="row profile-name">
                                    <div class="col-xs-12 text-white">
                                        <img src="{{ artist.poster.url }}" alt="Image"
                                             class="img-thumbnail img-circle profile-images">
                                        <h3>{{ artist.name }}</h3>
                                        <p>
                                            {# <em class="fa fa-twitter fa-fw"></em>&#64;limpa</p>#}
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="panel-body text-center">
                            <div class="row profile-name">
                                <div class="col-xs-4">
                                    <a href="#" class="text-primary">
                                        <em class="fa fa-twitter fa-2x"></em>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" class="text-primary">
                                        <em class="fa fa-facebook fa-2x"></em>
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="#" class="text-primary">
                                        <em class="fa fa-envelope-o fa-2x"></em>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="label label-primary pull-right">{{ artist.birth_date }}</span>
                                <em class="fa fa-fw fa-clock-o text-muted"></em>Дата рождения</a>
                            <a href="#" class="list-group-item">
                                <span class="label label-primary pull-right">{{ artist.home_town }}</span>
                                <em class="fa fa-fw fa-globe text-muted"></em>Родной город</a>
                            <a href="#" class="list-group-item">
                                <span class="label label-primary pull-right">{{ artist.genre }}</span>
                                <em class="fa fa-fw fa-globe text-muted"></em>Жанр</a>
                            <a href="#" class="list-group-item">
                                <span class="label label-primary pull-right"></span>
                                <em class="fa fa-fw fa-folder-open-o text-muted"></em>Прослушиваний за месяц</a>
                        </div>
                    </div>
                </div>

            {% endfor %}


        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}