{% extends 'base_page.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'album_style.css' %}">

{% endblock %}

{% load hitcount_tags %}

{% block content %}


    {% for album in album_list %}


        {{ forloop.counter }}. <a href="{% url 'album' album.pk %}">{{ album.name }}</a>
        <br>
        <b>Исполнитель:</b> <a href="{% url 'artist' album.artist.pk %}">{{ album.artist.name }}</a>
        <br>
        <b>Обложка:</b> <br>
        <img style="height: 10%; width: 10%; margin-left: 4%" src="{{ album.poster.url }}">
        <br>

        <br>
        <br>
    {% endfor %}



{% endblock %}
{% block scripts %}


{% endblock %}