{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

{% block css %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
{% endblock %}

{% block title %}<title>MusicBox</title>{% endblock %}

</head>

<body>


 <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
 <div class="container">

 <div class="navbar-header">
 <a class="navbar-toggle">
 <span class="sr-only">Открыть меню</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </a>
 <a class="navbar-brand" href="{% url 'home' %}">MusicBox</a>
 </div>

 <div id="slidemenu">

<form class="navbar-form navbar-right" role="form" action="{% url 'search' %}" method="get">
<div class="form-group">
<input name="q" type="text" value="{{ query }}" placeholder="Найти" class="form-control">
</div>
<button type="submit" class="btn btn-default">Поиск</button>
</form>

 <ul class="nav navbar-nav">
 <li class="active"><a href="{% url 'home' %}">Главная</a></li>
 <li><a href="{% url 'albums' %}">Альбомы</a></li>
 <li><a href="{% url 'artists' %}">Исполнители</a></li>
 <li><a href="#">Новинки</a></li>
 <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Топ <b class="caret"></b></a>
 <ul class="dropdown-menu">
 <li><a href="https://bootstraptema.ru/stuff/0-0-0-0-1">Топ 100</a></li>
 <li><a href="https://bootstraptema.ru/index/best_for_bootstrap/0-4">Топ 50</a></li>
 <li><a href="https://bootstraptema.ru/index/feedback/0-3">Топ 10</a></li>
 </ul>
 </li>
 </ul>

 </div>
 </div>
 </div>

<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">

{% block content %}





    {% for item in music %}

    Альбом: <a href="{% url 'album' item.album.pk %}">{{ item.album.name }}</a>
    <br>

    {% for artist_name in item.artist.all %}

        Исполнитель: <a href="{% url 'artist' artist_name.pk %}"> {{ artist_name }}</a>
    {% endfor %}
    <br>
        Название: <a href=" {% url 'detail' item.pk %}">{{item.name}}</a>

    <br>



    <br>
    <audio controls>
        <source src="{{ item.file.url }}">
    </audio>
    <br>
    {#    Просмотров {% get_hit_count for item %}#}


    <br>
    <br>

{% endfor %}



{#<div class="pagination">#}
{#    <span class="page-links">#}
{#        {% if page_obj.has_previous %}#}
{#            <a href="/search?city={{ page_obj.previous_page_number }}">previous</a>#}
{#        {% endif %}#}
{#            <span class="page-current">#}
{#                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
{#            </span>#}
{#        {% if page_obj.has_next %}#}
{#            <a href="/search?city={{ page_obj.next_page_number }}&q={{ query }}">next</a>#}
{#        {% endif %}#}
{#    </span>#}
{#</div>#}

{% endblock %}

</div>
{% block scripts %}

{% endblock %}
</body>
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</html>