{% extends 'base_page.html' %}
{% load static %}
{% load hitcount_tags %}
{% load ratings %}

{% block css %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block title %}<title>Song Detail</title>{% endblock %}



{% block content %}



    {{ rate.name }}
    <br>
    <br>
    <audio controls>
        <source src="{{ rate.file.url }}">
    </audio>

    <br>
    <br>
    <br>
{#    <form action="{% url 'add_rating' %}" method="post" name="rating">#}
{#        <b>Рейтинг:</b>#}
{#        {% csrf_token %}#}
{#        <input type="hidden" value="{{ song.id }}" name="song">#}
{#        <span class="rating">#}
{#             {% for k, v in star_form.fields.star.choices %}#}
{#                 <input id="rating{{ v }}" type="radio" name="star"#}
{#                        value="{{ v }}">#}
{#                 <label for="rating{{ v }}">{{ k }}</label>#}
{#             {% endfor %}#}
{#        </span>#}
{#        <span class="editContent"></span>#}
{#    </form>#}



    Дата публикации: {{ rate.date }}
    <br>
    Просмотров: {% get_hit_count for rate %}
       <br>

{% ratings object %}
    

    <h3>Популярные треки</h3>
    {% for p in popular_songs %}

        <p>{{ forloop.counter }}. {{ p }}</p>
    {% endfor %}


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
