{% extends 'base_page.html' %}
{% block title %}<title>Album Detail</title>{% endblock %}
{% load static %}
{% load ratings %}
{% load hitcount_tags %}

{% block css %}
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}
{% block content %}

    <b>Название альбома:</b> {{ album_info.name }}
    <br>

    <b>Исполнитель:</b> <a href="{% url 'artist' album_info.artist.pk %}">{{ album_info.artist.name }}</a>

    <br>
    <b>Жанр:</b> {{ album_info.genre }}
    <br>
    <b>Продолжительность:</b> {{ album_info.duration }}
    <br>
    <b>Обложка:</b> <br>
    <img style="height: 10%; width: 10%; margin-left: 4%" src="{{ album_info.poster.url }}">
    <br>
    <br>
    <br>
    <b>Треков в альбоме: {{ object.song_album.count}}</b>
    <br>
    <br>

    <br>
    {% for songs in album_info.song_album.all %}

        {{ forloop.counter }}. {{ songs.name }}
        <br>

        <audio controls>
            <source src="{{ songs.file.url }}">
        </audio>
        <br>
        <br>
        <br>
        <br>

    {% endfor %}
    Дата публикации: {{ album_info.year }}


    <br>
    Просмотров: {% get_hit_count for album_info %}
    <br>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}